body {
    background: #b17;
    color: white;
    font-family: "Arial Grande", Tahoma, Helvetica, Arial, sans-serif;
}

a {
    transition: color .5s;
}

.primary-nav {
    text-align: center;
}

.repositories {
    text-align: center;
}

.repositories .repository {
    display: inline-block;
    color: inherit;
    border: 4px white solid;
    width: 180px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    background: #222;
    transition: background-color .5s;
    margin: 5px;

    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
       -moz-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
       -moz-animation-duration: .5s;
            animation-duration: .5s;
}

.repositories .repository:hover {
    background: #333;
}

.repositories .repository span {
    font-size: .95em;
    display: inline-block;
    vertical-align: middle;
}

.repositories .repository.language-Java {
    background: #ffa748;
}

.repositories .repository.language-Java:hover {
    background: #ffc44e;
}

.repositories .repository.language-HTML,
.repositories .repository.language-CSS{
    background: #1bb0ff;
}

.repositories .repository.language-HTML:hover,
.repositories .repository.language-CSS:hover{
    background: #00d8ff;
}

footer {
    font-size: 0.8em;
    text-align: center;
    color: rgba(255, 255, 255, .8);
}

footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, .95);
}

footer a:hover {
    color: white;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.0);
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.0);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.0);
    }

    to {
        opacity: 1;
    }
}